@charset "UTF-8";
#headlherLogin{ /*pra ficar em cima da imagem*/
    position: absolute;
}
main { /*aqui eu to ajustando a imagem de fundo*/
    background-image: url(midias/fundoLogin.png);
    background-position: center center;
    background-size: cover; /* esse cover é pra imagem ficar certinha*/
    height: 96vh;
    overflow: hidden;
    max-width: none;
}
#fazerLogin, #fazerCadastro {
    position: absolute;
    width: 350px;
    margin-top: 28vh;
    margin-left: 60%;
    z-index: 1;
}
 input[type="text"] {
    width: 300px;
    height: 20px;
    border-radius: 15px;
    color: var(--cor3);
    border-color: var(--cor0);
    background-color:var(--cor3);
    margin-bottom: 15px;
}
input[type="text"] {
    width: 300px;
    height: 20px;
    border-radius: 15px;
    color: var(--cor3);
    border-color: var(--cor0);
    background-color:var(--cor3);
    margin-bottom: 15px;
}
input[type="button"] {
    width: 100px;
    height: 25px;
    padding: 0;
    border-radius: 15px;
    color: var(--cor3);
    border-color: var(--cor2);
    background-color:var(--cor2);
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
}
#link > input[type="button"] { /*esse é o botão do click aqui*/
    margin: 0px;
        font-size: medium;
        appearance: none;
        text-align: left;
        color: var(--cor2);
        background: none;
        padding: 0;
        border: none;
        text-decoration: underline;
        }
    #link > input[type="button"]:hover {
        color: var(--cor1);
    }   
#vetor {
    width: 100;
    margin-top: -10%;
    margin-left: 50%;
    transition-duration: 1s;
    transform: translateX(0);
}
#boasVindas {
    animation: changeOpacity 2s;
    position: absolute;
    margin: 15%;
    margin-top: 20%;
    text-align: left;
    color: var(--cor2);
    font-size: 24px;
    z-index: 2;
}
@media (max-width: 775px) {
    #fazerLogin, #fazerCadastro {
        margin-top: 40%;
        margin-left: 55%;
        transform: translate(-50%);
        z-index: 1;
    }
    #mainLogin > img {
        position: absolute;
        width: 80%;
        margin: 10%;
        margin-top: 8%;
        text-align: center;
        transition-duration: 1s;
        transform: rotate();   
    }
    #boasVindas {
    animation: changeOpacity 2s;
    position: absolute;
    margin: 15%;
    margin-top: 20%;
    text-align: left;
    color: var(--cor2);
    font-size: 24px;
    z-index: 2;
    }
}